@use '@/styles/mixins/flexbox' as *;
@use '@/styles/constants/colors' as colors;

.wrapper {
  width: 100%;
  height: 100vh;
  padding: 0 16px;
  background-color: colors.$C_WHITE;

  .container {
    @include flex(center, center, column);
    gap: 30px;
    width: 100%;
    height: 100vh;

    >h2 {
      font-size: 30px;
    }

    >button {
      width: 100%;
      height: 50px;
      font-size: 20px;
      font-weight: 600;
      color: colors.$C_WHITE;
      background-color: colors.$C_PRIMARY_DEFAULT;
      border: none;
      border-radius: 8px;
    }
  }
}
