@use 'src/styles/constants' as c;
@use 'src/styles/mixins' as m;

.wrapper {
  width: 100%;
  min-height: 100vh;
  padding-top: 30px;

  > h2 {
    @include m.fontH2('regular');
    padding-bottom: 20px;
    line-height: normal;

    > span {
      @include m.fontH2('bold');
      line-height: 130%;
    }
  }
}
