@use '@/styles/mixins/flexbox' as *;
@use '@/styles/constants/colors' as colors;
@use '../../styles/constants/sizes.module.scss' as size;

.wrapper {
  position: relative;
  width: 100%;
  height: 100vh;

  .topBar {
    position: fixed;
    z-index: 100;
    width: 100%;
    max-width: size.$LAYOUT_MAX_WIDTH;
    padding: 14px;
    background-color: none;
  }

  .map {
    width: 100%;
    height: 100%;

    .mapMarker {
      padding: 4px 8px;
      font-size: 13px;
      font-weight: bold;
      color: colors.$C_WHITE;
      background-color: #2ecc71;
      border-radius: 12px;
      box-shadow: 0 1px 6px rgba(0, 0, 0, 10%);
    }
  }

  .bottom {
    width: 100%;
    padding-bottom: 20px;
    border-bottom: 1px solid colors.$C_BG_DEFAULT;

    > h3 {
      font-size: 20px;
      font-weight: 600;
    }

    > p {
      font-size: 16px;
    }
  }
}
