@use '@/styles/constants/sizes.module.scss' as size;
@use '@/styles/mixins/flexbox' as *;
@use '@/styles/constants/colors' as colors;

.footer {
  @include flex(flex-start, center);
  position: fixed;
  bottom: 0;
  left: 50%;
  z-index: 100;
  box-sizing: border-box;
  width: 100%;
  max-width: size.$LAYOUT_MAX_WIDTH;
  height: 70px;
  padding-bottom: 10px;
  background-color: colors.$C_WHITE;
  border-top: 1px solid colors.$C_BG_DEFAULT;
  border-top-left-radius: 21px;
  border-top-right-radius: 21px;
  box-shadow: rgba(149, 157, 165, 5%) 0 8px 24px;
  transform: translateX(-50%);

  .nav {
    @include flex(space-between, center);
    width: 100%;
    padding: 0 20px;

    .navItem {
      @include flex(center, center, column);
      gap: 4px;

      .icon {
        filter: invert(59%) sepia(11%) saturate(338%) hue-rotate(182deg) brightness(94%) contrast(93%);
      }

      .name {
        font-size: 14px;
        color: #8a919f;
      }
    }
  }
}
